---
title: Casino am Kornmarkt
description: Page meta description in 150 characters
tags: orte

name: Casino am Kornmarkt
address: Kornmarkt 1, 54290 Trier
latitude: 49.7547115
longitude: 6.6390111
icon: /images/icons/casino_am_kornmarkt.svg
featuredimage: https://picsum.photos/600/300
teaser: Das klassizistische Gebäude am Kornmarkt, einer der wichtigsten Großbauten der preußischen Zeit, wurde 1824/25 von Baumeister Johann Georg Wolff als Vereinshaus der 1817 gegründeten „Literärischen Casino-Gesellschaft“ errichtet.

layout: single-ort.njk
---

<p>Das klassizistische Gebäude am Kornmarkt, einer der wichtigsten Großbauten der preußischen Zeit, wurde 1824/25 von Baumeister Johann Georg Wolff als Vereinshaus der 1817 gegründeten „Literärischen Casino-Gesellschaft“ errichtet.</p>

<p>Dieser Casino-Gesellschaft, die aus politisierenden und geselligen Vereinigungen sowie den Lesezirkeln bildungsbeflissener Bürger gegen Ende des 18. und zu Beginn des 19. Jahrhunderts hervorging, gehörten führende Bürger der Stadt und preußische Offiziere an.</p>

<p>Hier organisierte sich das aufgeklärte, demokratisch gesinnte Trierer Bildungsbürgertum, zu dem auch die Familie des Justizrats Heinrich Marx gehörte, und hier spielte sich das kulturelle Leben von Trier ab. Auf einem der historisch berühmten, rauschenden Bälle der Casino-Gesellschaft verliebte sich wohl Karl Marx in die „Ballkönigin“, seine spätere Frau Jenny von Westphalen.</p>

<p>1834 hielt sein Vater Heinrich Marx im Casino eine Rede, in der er verklausuliert die Verfassungswünsche des Volkes zum Ausdruck brachte. Wenige Tage später sangen einige Mitglieder die Marseillaise und schwenkten die Trikolore, woraufhin die preußischen Beamten aus Protest aus dem Casino austraten und dieses für einige Monate geschlossen wurde.</p>

<p>Das Gebäude wurde im Zweiten Weltkrieg zerstört und diente nach seiner Wiederherstellung bis 1999 als Casino der französischen Besatzungssoldaten. Seit 2004 wird es überwiegend gastronomisch genutzt.</p>