---
title: Geburtshaus von Karl Marx
description: Page meta description in 150 characters
tags: orte

name: Geburtshaus von Karl Marx
address: Brückenstraße 10, 54290 Trier
latitude: 49.7536932
longitude: 6.6355636
icon: /images/icons/geburtshaus_karl_marx.svg
featuredimage: https://picsum.photos/600/300
teaser: In diesem Haus in der Brückenstraße 10 kam Karl Marx am 05. Mai 1818 als drittes Kind des jüdischen Advokaten Heinrich Marx (1777–1838) und dessen ebenfalls jüdischer Ehefrau Henriette Marx (1788–1863), einer geborenen Presburg, zur Welt.

layout: single-ort.njk
---

<p>In diesem Haus in der Brückenstraße 10 kam Karl Marx am 05. Mai 1818 als drittes Kind des jüdischen Advokaten Heinrich Marx (1777–1838) und dessen ebenfalls jüdischer Ehefrau Henriette Marx (1788–1863), einer geborenen Presburg, zur Welt. 1727 wurde das Vorderhaus in barocker Form neu errichtet und die hinteren, noch gotischen Gebäudeteile stark verändert.</p>

<p>Marx wurde hier zwar 1818 geboren, verbrachte aber nur die ersten anderthalb Jahre seines Lebens in dem Haus, in welchem die Familie seit April 1818 zur Miete wohnte. Bereits 1819 kaufte der Vater ein eigenes Haus in der Simeonstraße 8, wo Karl Marx bis zu seinem Abitur und seinem Weggang aus Trier 1835 lebte.</p>

<p>Das Haus in der Brückenstraße geriet in Vergessenheit und wurde erst 1904 aufgrund einer Zeitungsanzeige von einem Sozialdemokraten als Geburtshaus Karl Marx‘ identifiziert.</p>

<p>Die SPD kaufte das Haus 1928 und ließ es 1930/31 umfassend restaurieren, um dort eine Gedenkstätte zu eröffnen. Dazu kam es aber nicht: 1933 wurde das Haus von SA-Leuten zwangsenteignet und zum Sitz und zur Druckerei ihres „Nationalblattes“ gemacht. 1947 kam das Haus wieder in den Besitz der SPD.</p>

<p>Heute dient das Haus als Museum, in dem die Person, das Werk und die Wirkungsgeschichte Karl Marx‘ vermittelt werden soll. Anlässlich des 200. Geburtstages von Karl Marx wurde sein Geburtshaus seit 2017 renoviert und die Dauerausstellung neu konzipiert.</p>