---
title: Jesuitenkirche und Gymnasium
description: Page meta description in 150 characters
tags: orte

name: Jesuitenkirche und Gymnasium
address: Jesuitenstraße, 54290 Trier
latitude: 49.7536347
longitude: 6.6415134
icon: /images/icons/jesuitenkirche_und_gymnasium.svg
featuredimage: https://picsum.photos/600/300
teaser: Bereits 1561 wurde das Jesuitenkolleg, aus dem später das Friedrich-Wilhelm-Gymnasium hervorging, gegründet und befand sich bis zum Zweiten Weltkrieg im Gebäude des heutigen Bischöflichen Priesterseminars in der Jesuitenstraße.

layout: single-ort.njk
---

<p>Bereits 1561 wurde das Jesuitenkolleg, aus dem später das Friedrich-Wilhelm-Gymnasium hervorging, gegründet und befand sich bis zum Zweiten Weltkrieg im Gebäude des heutigen Bischöflichen Priesterseminars in der Jesuitenstraße. Karl Marx' Schullaufbahn am Trierer Gymnasium währte allerdings nur 5 Jahre, von 1830 bis 1835. Vorher war er jahrelang von seinem Vater zu Hause unterrichtet worden.</p>

<p>1835 legte Marx mit 17 Jahren sein Abitur mit einem Notendurchschnitt von 2,4 ab. Vor allem durch Rektor Johann Hugo Wyttenbach (1767–1848), nebenbei Vorsteher der Trierer Stadtbibliothek, Bibliothekar der Lesegesellschaft und Gründungsmitglied der Gesellschaft für nützliche Forschungen, und Lehrer wie Johannes Steininger (1794–1874) herrschte am Gymnasium ein liberaler Geist. Mitschüler von Karl Marx waren beispielsweise die „Achtundvierziger“ Friedrich Zell, Ludwig Joseph Bleser, Viktor Valdenaire und Ludwig Simon, die alle in der Zeit von 1832-1836 ihr Abitur ablegten.</p>

<p>Dieser demokratischen Gesinnung wirkte die preußische Regierung jedoch ab 1837 entgegen: Wyttenbach wurde von der preußischen Geheimpolizei überwacht. Zudem verlor das Gymnasium wegen der allgemein herrschenden Armut kontinuierlich an Schülern (1825 noch 457, 1837 nur noch 295).</p>

<p>Erst nach der Gründung des Bischöflichen Konvikts 1840 stiegen die Zahlen wieder an. Nach der Zerstörung des Schulgebäudes 1944 und mehreren provisorischen Unterkünften zog das FWG 1961 in das jetzige Gebäude an der Fausenburg um.</p>