---
title: Judengasse
description: Page meta description in 150 characters
tags: orte

name: Judengasse
address: Judengasse, 54290 Trier
latitude: 49.7572766
longitude: 6.6414725
icon: /images/icons/judengasse.svg
featuredimage: https://picsum.photos/600/300
teaser: Im Mittelalter waren jüdische Fernhandelskaufleute, Geldverleiher und Viehhändler wichtige Mitglieder im Wirtschaftsleben des Erzstifts Trier. Vermutlich in der zweiten Hälfte des 10. Jahrhunderts entstand das Trierer Judenviertel zwischen Hauptmarkt, Jakob- und Stockstraße. Die Zugangstore zu dem Areal wurden nachts geschlossen.

layout: single-ort.njk
---

<p>Im Mittelalter waren jüdische Fernhandelskaufleute, Geldverleiher und Viehhändler wichtige Mitglieder im Wirtschaftsleben des Erzstifts Trier. Vermutlich in der zweiten Hälfte des 10. Jahrhunderts entstand das Trierer Judenviertel zwischen Hauptmarkt, Jakob- und Stockstraße. Die Zugangstore zu dem Areal wurden nachts geschlossen.</p>

<p>Anfang des 14. Jahrhunderts stand die jüdische Gemeinde in voller Blüte, das Ghetto bestand damals aus etwa 60 Gebäuden, in denen mehr als 300 Menschen lebten. Hier befand sich neben anderen Gemeindeeinrichtungen auch eine Synagoge, die mit Unterbrechungen bis 1418 benutzt wurde.</p>

<p>Während der Pestpogrome Mitte des 14. Jahrhunderts wurde die Trierer Judengemeinde zerstört. Weder die kirchliche noch die kommunale Obrigkeit konnte dem plündernden Mob Einhalt gebieten. Die vertriebenen jüdischen Familien siedelten sich in Dörfern der Region an, die nicht der kurfürstlichen Herrschaft unterstanden und bildeten hier neue Gemeinden.</p>

<p>1418 wurden schließlich alle Juden aus dem Erzstift Trier verbannt. Sie wurden enteignet und mussten auf ihr Hab und Gut verzichten, dazu gehörte auch ihr Friedhof im Bereich des heutigen Viehmarktplatzes.</p>

<p>In der Judengasse befindet sich im Keller des Hauses Nr. 4/4a noch eine Mikwe, ein jüdisches Ritualbad. In diesem Gebäude soll langfristig eine „Dokumentationsstätte jüdischen Lebens“ von den Anfängen in römischer Zeit über die Blütezeit im Mittelalter bis hin zum Holocaust und dem Neuaufbau nach 1945 entstehen.</p>