---
title: Karl-Marx-Statue
description: Page meta description in 150 characters
tags: orte

name: Karl-Marx-Statue
address: Nordallee 1, 54290 Trier
latitude: 49.759577
longitude: 6.642847
icon: /images/icons/karl_marx_statue.svg
featuredimage: https://picsum.photos/600/300
teaser: Anlässlich des 200. Geburtstages von Karl Marx bot die Volksrepublik China im Jahr 2015 an, seiner Geburtsstadt als Zeichen der Freundschaft und der Wertschätzung eine Karl-Marx-Skulptur zu schenken.

layout: single-ort.njk
---

<p>Anlässlich des 200. Geburtstages von Karl Marx bot die Volksrepublik China im Jahr 2015 an, seiner Geburtsstadt als Zeichen der Freundschaft und der Wertschätzung eine Karl-Marx-Skulptur zu schenken.</p>

<p>Als Aufstellungsort war zunächst ein Platz in der Nähe des Karl-Marx-Hauses angedacht, aber der renommierte chinesische Künstler und Akademieprofessor Wu Weishan favorisierte nach einer Ortsbegehung Anfang 2016 den Simeonstiftplatz. Nachdem der Stadtrat nach langen Diskussionen im März 2017 offiziell die Annahme des Geschenks beschlossen hatte, musste nur noch über die Größe verhandelt werden.</p>

<p>Die ursprünglich geplante Höhe von 6,30 Meter mit Sockel wurde auf 5,50 Meter verringert. Hinsichtlich der Kostenverteilung sagte die Volksrepublik China zu, neben der Statue selbst und ihrem Transport nach Trier auch den Sockel einschließlich Sitzstufen sowie die Verankerung zu finanzieren. Der verbleibende Kostenanteil der Stadt Trier für Erdaushub, Fundament, Pflasterarbeiten und Beleuchtung beläuft sich auf rund 39.000 Euro.</p>

<p>„Ich stelle Marx in aller Größe dar, mit einem entschlossenen Blick in den Augen“, sagte der Künstler. „Seine langen Haare und sein langer Mantel verkörpern seine Weisheit. Karl Marx‘ Gedanken drehen sich um die Welt. Er ist überzeugt, dass alles in Bewegung ist und sich verändert. Marx schaut nach vorne und schreitet ruhig voran.“ Die Bronze soll am 5. Mai 2018, Karl Marx‘ Geburtstag, auf dem Simeonstiftplatz feierlich enthüllt werden.</p>