---
title: Museum am Dom
description: Page meta description in 150 characters
tags: orte

name: Museum am Dom
address: Bischof-Stein-Platz 1, 54290 Trier
latitude: 49.7565145
longitude: 6.64498179088263
icon: /images/icons/museum_am_dom.svg
featuredimage: https://picsum.photos/600/300
teaser: In der ersten Hälfte des 19. Jahrhunderts gehörte Trier zu den ärmsten Gebieten in Deutschland.

layout: single-ort.njk
---

<p>In der ersten Hälfte des 19. Jahrhunderts gehörte Trier zu den ärmsten Gebieten in Deutschland. 1831 war fast ein Drittel der Trierer Bevölkerung auf Unterstützung angewiesen. Um die Mitte des 19. Jahrhunderts lebten 81 % am Rande oder unterhalb des Existenzminimums, weshalb zahlreiche Menschen in die USA und vor allem nach Brasilien auswanderten.</p>

<p>Das alte Recht jedes Einheimischen, Totholz aus dem Wald für Brennzwecke zu sammeln, wurde unter der preußischen Regierung unter strenge Strafe gestellt. Allein im Gerichtsjahr 1828/29 gab es im Regierungsbezirk Trier über 9.000 Verurteilungen wegen Holzfrevels. Karl Marx machte im Herbst 1842 in mehreren Beiträgen in der „Rheinischen Zeitung“ diese Missstände zum Thema.</p>

<p>Die Armut trieb außerdem viele Frauen in die Prostitution. 1828 etwa waren über 80 % der Insassen des Gefängnisses Frauen, davon wiederum über 80 % Prostituierte. Da die Gefängnisse ständig überfüllt waren, errichtete Stadtbaumeister Johann Georg Wolff (1789–1861) in den Jahren 1832/33 in der Windstraße das Königlich Preußische Gefängnis an der Stelle der Kurie Metzenhausen, einem der schönsten Renaissancebauten Triers.</p>

<p>Hier, im Schatten des Doms, wurden auch die Revolutionäre der demokratischen Revolution 1848 inhaftiert, unter anderem Karl Marx‘ früherer Mitschüler Viktor Valdenaire. In den Jahren 1983–88 erfolgte der Umbau zum Bischöflichen Dom- und Diözesanmuseum, heute Museum am Dom, bei dem der zweigeschossige Baukubus unter anderem vollständig entkernt wurde.</p>