---
title: Rheinisches Landesmuseum
description: Page meta description in 150 characters
tags: orte

name: Rheinisches Landesmuseum
address: Weimarer Allee 1, 54290 Trier
latitude: 49.7515591
longitude: 6.64424142479929
icon: /images/icons/rheinisches_landesmuseum.svg
featuredimage: https://picsum.photos/600/300
teaser: Das Rheinische Landesmuseum Trier beleuchtet unter dem Titel „Leben.Werk.Zeit.“ Karl Marx und sein Jahrhundert – auf rund 1000m² Ausstellungsfläche wird der intellektuelle wie politische Werdegang von Marx nachgezeichnet.

layout: single-ort.njk
---

<p>Karl Marx 1818-1883. Leben.Werk.Zeit.</p>

<p>Rheinisches Landesmuseum<br />
	5. Mai bis 21. Oktober</p>

<p>Das Rheinische Landesmuseum Trier beleuchtet unter dem Titel „Leben.Werk.Zeit.“ Karl Marx und sein Jahrhundert: Auf rund 1000m² Ausstellungsfläche wird der intellektuelle wie politische Werdegang von Marx nachgezeichnet. Prägend für den Philosophen und späteren Ökonomen ist das 19. Jahrhundert mit seinen wirtschaftlichen und sozialen Umbrüchen: Freiheits- und Demokratiebestrebungen wie auch Industrialisierung und Urbanisierung sind Kennzeichen dieser bewegten und spannungsreichen Epoche.</p>

<p>In die Zeit eines wirtschaftlich aufstrebenden Bürgertums hineingeboren, lernt er bald Zensur, Repression und Armut kennen. Marx durchläuft eine rasante Entwicklung vom Philosophen über den Radikaldemokraten zum Kommunisten und Gesellschaftskritiker und wird als Journalist zum Revolutionär durch das Wort. Nach der gescheiterten Revolution von 1848 setzt er im Londoner Exil seine ökonomischen Studien fort und entwickelt hier die Analysen eines sich immer vehementer ausprägenden kapitalistischen Gesellschaftssystems, die noch heute diskutiert werden.</p>