---
title: Stadtmuseum Simeonstift Trier
description: Page meta description in 150 characters
tags: orte

name: Stadtmuseum Simeonstift Trier
address: Simeonstraße 60, 54290 Trier
latitude: 49.7597859
longitude: 6.6435635
icon: /images/icons/stadtmuseum_simeonstift.svg
featuredimage: https://picsum.photos/600/300
teaser: Unter dem Titel „Stationen eines Lebens“ zeichnet das Stadtmuseum Simeonstift Trier das bewegte Leben von Karl Marx nach, das 1818 in Trier seinen Anfang nahm.

layout: single-ort.njk
---

<p>Karl Marx 1818-1883. Stationen eines Lebens<br />
	5. Mai bis 21. Oktober 2018</p>

<p>Unter dem Titel „Stationen eines Lebens“ zeichnet das Stadtmuseum Simeonstift Trier das bewegte Leben von Karl Marx nach, das 1818 in Trier seinen Anfang nahm. Der Rundgang verfolgt den Lebensweg von Marx‘ Kindheit und Jugend in Trier über seine Studienjahre und erste Berufserfahrungen bis zum Exil in London, wo er mehr als die Hälfte seines Lebens verbrachte und im Jahr 1883 starb.</p>

<p>Anhand der Stationen dieses Lebens werden wichtige Entwicklungen und Wendepunkte anschaulich gemacht: Welche Rolle spielten Trier, Paris und London im Leben von Marx und seiner Familie? Welche Personen und Umstände prägten den jungen Denker? Wie stand er zu seinen Bewunderern und Kritikern?</p>

<p>Grundlage für diese und viele weitere Fragen sind unter anderem persönliche Zeitdokumente und Lebensschilderungen, die auf knapp 600 m² Ausstellungsfläche die Biographie von Karl Marx beleuchten und so ein lebendiges Bild des Menschen hinter der Ikone zeichnen.</p>