---
title: Tufa
description: Page meta description in 150 characters
tags: orte

name: Tufa
address: Wechselstraße 4–6, 54290 Trier
latitude: 49.7512001
longitude: 6.63989255855397
icon: /images/icons/tufa.svg
featuredimage: https://picsum.photos/600/300
teaser: 1797 eröffnete Johann Nicolaus Müller eine Färberei und einen Tuchhandel am Weberbach in Trier, der damals noch offen durch das Stadtgebiet floss, und nutzte erstmals das Färbeverfahren mit der indischen Indigopflanze.

layout: single-ort.njk
---

<p>1797 eröffnete Johann Nicolaus Müller eine Färberei und einen Tuchhandel am Weberbach in Trier, der damals noch offen durch das Stadtgebiet floss, und nutzte erstmals das Färbeverfahren mit der indischen Indigopflanze.</p>

<p>Die Söhne des Gründers erweiterten das Unternehmen um eine Wollgarnspinnerei und eine Weberei. Die so entstandene Tuchfabrik Trier spezialisierte sich auf die Herstellung von Loden- und Buxkinstoffen für Uniformen. Aufgrund des sinkenden Bedarfs an schweren Stoffen nach dem Ersten Weltkrieg und der Wirtschaftskrise verlor der Tuchhandel jedoch an Bedeutung und die Tuchfabrik wurde 1927 aufgegeben.</p>

<p>Viele Jahre später, 1983, schlossen sich mehrere Ensembles und Einzelkünstler der freien Kulturszene Triers, die weder Proberäume noch Ausstellungs- oder Aufführungssäle zur Verfügung hatten, im Verein Kulturwerkstatt zusammen. Das gemeinsame Ziel war die Einrichtung eines kulturellen Zentrums.</p>

<p>Im Zuge der Vorbereitungen der 2000-Jahr-Feier 1984 rückte das mittlerweile im Besitz der Stadt befindliche marode Gebäude der ehemaligen Tuchfabrik in den Fokus, welches nach umfassender Sanierung zunächst zwei große Jubiläums-Ausstellungen beherbergen und anschließend als Kulturzentrum dienen sollte.</p>

<p>Seit ihrer Gründung 1985 verzeichnet die Tufa jährlich etwa 70.000 Gäste ihrer vielfältigen Angebote, die sich an Menschen aller Schichten und Altersklassen richten. Ihr Dachverband setzt sich aus Vertretern von 29 Einzelvereinen aus der gesamten Bandbreite der Kultur zusammen.</p>