---
title: Weberbach
description: Page meta description in 150 characters
tags: orte

name: Weberbach
address: Weberbach 1, 54290 Trier
latitude: 49.751579
longitude: 6.641062
icon: /images/icons/weberbach.svg
featuredimage: https://picsum.photos/600/300
teaser: Die Straße war schon in der Antike Teil des römischen Straßennetzes und verband den Bereich der späteren Doppelbasilika (heute Dom und Liebfrauenbasilika) mit den Kaiserthermen. In der frühen Neuzeit siedelten sich hier Wollweber und Wollfärber an, die in dem durchfließenden (und bis 1820 offenen) Weberbach ihre Wolle wuschen und die gefärbten Teile im Wasser spülen konnten.

layout: single-ort.njk
---

<p>Die Straße war schon in der Antike Teil des römischen Straßennetzes und verband den Bereich der späteren Doppelbasilika (heute Dom und Liebfrauenbasilika) mit den Kaiserthermen. In der frühen Neuzeit siedelten sich hier Wollweber und Wollfärber an, die in dem durchfließenden (und bis 1820 offenen) Weberbach ihre Wolle wuschen und die gefärbten Teile im Wasser spülen konnten.</p>

<p>Als im 16. und 17. Jahrhundert nach und nach wieder der Aufenthalt von Juden im Erzstift Trier zugelassen wurde, wohnten sie nicht mehr in einem eigenen Wohnviertel oder Ghetto wie noch im Mittelalter und bis ihrer Verbannung 1418, sondern verstreut über die Stadt, vor allem im Bereich der Weberbachstraße.</p>

<p>Wie auf einer Gedenktafel am Gebäude der heutigen Pax-Bank zu lesen ist, stand hier von 1761 bis 1859 die Synagoge als religiöses Zentrum der jüdischen Gemeinde Triers. Sie war das Wirkungsfeld des Großvaters von Karl Marx, Mordechai Marx Levi (um 1746–1804), der seit 1788 – wie schon sein Schwiegervater zuvor – das Amt des Landesrabbiners des Obererzstifts Trier und nach der Auflösung des Trierer Kurstaats 1794 jenes des Trierer Stadtrabbiners bekleidete.</p>

<p>Sein Sohn Heinrich Marx, Advokat am Trierer Appellationsgericht, brach mit der Familientradition. Zwischen 1816 und 1819 trat er aus Karrieregründen zum Protestantismus über, da es ihm als Juden nicht möglich gewesen wäre, in den Staatsdienst zu gelangen. Auch seine Kinder, darunter seinen Sohn Karl, ließ er 1824 protestantisch taufen.</p>