---
title: Wohnhaus von Karl Marx
description: Page meta description in 150 characters
tags: orte

name: Wohnhaus von Karl Marx
address: Simeonstraße 8,  54290 Trier
latitude: 49.7590549
longitude: 6.6438243
icon: /images/icons/wohnhaus_karl_marx.svg
featuredimage: https://picsum.photos/600/300
teaser: Am 1. Oktober 1819 kaufte der Advokat Heinrich Marx, der Vater von Karl Marx, den kleinen barocken Mansarddachbau in der Simeonsgasse 1070 (heute Simeonstraße 8) unweit der Porta Nigra von einem Kollegen, dem Geheimen Justizrat Peter Schwarz.

layout: single-ort.njk
---

<p>Am 1. Oktober 1819 kaufte der Advokat Heinrich Marx, der Vater von Karl Marx, den kleinen barocken Mansarddachbau in der Simeonsgasse 1070 (heute Simeonstraße 8) unweit der Porta Nigra von einem Kollegen, dem Geheimen Justizrat Peter Schwarz.</p>

<p>Für den Preis von 18.987 Franc und 20 Cents wurde Ratenzahlung vereinbart, und die Familie zog aus der Brückengasse dorthin um. Nachdem der Vater aufgrund der beruflichen Aufstiegschancen bereits zwischen 1816 und 1819 vom jüdischen Glauben zum Protestantismus konvertiert war, wurden in diesem Haus auch die Kinder Sophia, Karl, Hermann, Henriette, Louise, Emilie und Caroline am 26. August 1824 protestantisch getauft.</p>

<p>Hier erhielt Karl Privatunterricht bei seinem Vater, bis er 1830 auf das Gymnasium wechselte. Karl Marx wohnte bis zu seinem Abitur im Herbst 1835 in der Simeonstraße. Danach verließ er Trier, um an der Universität Bonn sein Studium aufzunehmen und kehrte nur noch wenige Male zu kurzen Besuchen nach Trier zurück. Die Mutter, Henriette Marx, wird zuletzt Ende 1850 unter dieser Adresse erwähnt, das Haus wurde vermutlich zwischen 1851 und 1852 verkauft.</p>

<p>Im Inneren umgebaut und stark verändert befindet sich im Erdgeschoss heute ein Ladengeschäft. Nur noch eine Gedenktafel über dem Eingang des Hauses erinnert an den einstigen Bewohner und berühmtesten Sohn der Stadt Trier.</p>