---json
{
"permalink": "robots.txt",
"eleventyExcludeFromCollections": true
}
---

User-agent: *
Allow: /
Disallow: /fonts
Disallow: /scripts
Disallow: /styles
Sitemap: https://stegmann.ws/sitemap.xml